

.ticket_fae {
    background: #333;
}



.ticket_body {
    background: #fff;
    width: 230px;
    max-width: 240px;
}

table .textMontos {
    
    padding-left: 10px;
}

.text-right {
    
    text-align: right !important;
}

.tfootChuz tr .text-right2 {
    width: 124px;
    text-align: right !important;
    
}

.cliente_text {
    text-align: left;
    
}

/*.area_print {
    border-color: black;
    border-style: groove;
    padding: 6px;
}*/
.area_print {
    font-size: 12px;
    font-family: 'Times New Roman';
}

table .text-center {
    text-align: center !important;
    
    width: 80px;
}

table thead {
    border-bottom: double;
    border-bottom-width: 4px;
    border-top: solid;
    border-top-width: 1px;
}

table tfoot {
    border-top: double;
    border-top-width: 4px;
    border-bottom: solid;
    border-bottom-width: 1px;
}

table .text-filas {
    text-align: center;
    
}

.ticket_body {
    margin: auto;
    padding: 10px;
}

    .ticket_body table {
        width: 100%;
    }
.text-encabezado{
    text-align: center !important;
}