@model PracticaIIICO.BD.sp_Retorna_Detalle_Entradas_Result
@{
    ViewBag.Title = "AgregaDetEntr";
}

<div class="formRegistrochz">

    <h2>Agrega Detalle</h2>
    <h2>Entrada</h2>



    <form id="frmRegistroDetalle" class="form-control" method="post">
        <h3>Factura # @Model.ID_Entrada</h3>

        <div class="row">
            <div class="col">
                <label># Factura:</label>
                <input type="text" name="ID_Entrada" id="ID_Entrada" value="@Model.ID_Entrada" class="form-control" readonly />
            </div>
            <div class="col">
                <label>Producto:</label>
                <select name="ID_Producto" id="ID_Producto" class="form-control">
                    @{

                        foreach (PracticaIIICO.BD.sp_Retorna_Productos_Result ModeloPROD in this.ViewBag.ListaProductos)
                        {
                            <option value="@ModeloPROD.ID_Producto">@ModeloPROD.Nombre_PROD </option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Cantidad:</label>
                <input type="number" name="Cant_Adquirida_PROD" id="Cant_Adquirida_PROD" class="form-control" value="0" />
            </div>
            <div class="col">
                <label>Precio Por Cantidad:</label>
                <input type="number" name="PrecioXCant" id="PrecioXCant" class="form-control" readonly value="0" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Agregar" id="btnAgregar" class="btn btn-success" />
            <a href="~/Entradas/ListaEntradas" class="btn btn-primary">Ver Lista</a>
        </div>
    </form>
    <br />


</div>
