@{
    ViewBag.Title = "UnauthorizeOperation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content-header">
    <h2 style="color:red">Error Operacion No Permitida!</h2>
</section>

<section class="content">
    <div class="error-page">
        <h2 class="headline text-red">
            Ingreso No Permitido A Pagina Login
            <strong>@ViewBag.tipoError</strong>
            cierra sesion Primero
        </h2>
        <div class="error-content">
            <h3><i class="fa fa-exclamation-triangle"></i>Sin Permiso</h3>
            <p>Cierra La Sesion Actual y Accede Nuevamente</p>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModalError" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredScrollableTitle" style="margin-left: 100px;color:red">
                    <i class="fa fa-exclamation-triangle"></i>
                    Se Produjo un Error
                    <i class="fa fa-exclamation-triangle"></i>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="headline text-red">
                    Ingreso No Permitido A Pagina Login
                    <strong>@ViewBag.tipoError</strong>
                    <p>Cierra La Sesion Actual y Accede Nuevamente</p>
                </h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Sesion/llamarModal.js"></script>
    
}

