@model PracticaIIICO.ViewModels.ViewMarcaModel
@{
    ViewBag.Title = "ListaMarcas";
}

<h2>Lista Marcas</h2>

<a href="~/Home/Index" class="btn btn-success">Pagina Inicial</a>

<br />
<br />

<!---->
<table id="myTable" class="table table-hover table-bordered table-success table-striped">
    <thead>
        <tr>
            <th scope="col"># Marca</th>
            <th scope="col">Marca</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (PracticaIIICO.BD.sp_Retorna_Marcas_Result PosicionModeloMarca in Model.ListaMarcas)
            {
                <tr>

                    <td>@PosicionModeloMarca.ID_Marca</td>
                    <td>@PosicionModeloMarca.Nombre_Marca</td>
                    <td>@PosicionModeloMarca.Descripcion_Marca</td>

                    <td>
                        <a href="~/Marca/ModificaMarca?id_Marca=@PosicionModeloMarca.ID_Marca" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                        <a href="~/listaCitas/eliminarCita?id_Marca=@PosicionModeloMarca.ID_Marca" class="btn btn-success"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<!--Paginador-->
@{ Html.RenderPartial("_paginador", Model);}
<!---->
<a href="~/Marca/NuevaMarca" class="btn btn-success">Nuevo Dato</a>