
@{
    ViewBag.Title = "MostrarCAT";
}

<h2>Mostrar Categorias</h2>

<form id="frModificaCAT" method="post">

    <div class="form-group">
        <label>ID:</label>
        <input type="number" name="ID_Categoria" id="ID_Categoria" class="form-control" value="@Model.ID_Categoria" readonly />
    </div>
    <div class="form-group">
        <label>Categoria:</label>
        <input type="text" name="Nombre_Categoria" id="Nombre_Categoria" class="form-control" value="@Model.Nombre_Categoria" readonly/>
    </div>
    <div class="form-group">
        <label>Descripcion:</label>
        <input type="text" name="Descripcion_Categoria" id="Descripcion_Categoria" class="form-control" value="@Model.Descripcion_Categoria" readonly/>
    </div>
</form>

<a href="~/Categorias/ListaCategorias" class="btn btn-primary">Ver Lista</a>