
@{
    ViewBag.Title = "ListTypeServices";
}

<h2>Lista Tipos De Servicios</h2>

<!---->
<table id="myTable" class="table table-hover table-bordered table-success table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Servicio</th>
            <th scope="col">Descripcion</th>

            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (PracticaIIICO.BD.sp_Retorna_Tipo_Servicio_Result PosicionModelo in this.Model)
            {
                <tr>
                    <td>@PosicionModelo.ID_TipoServicio</td>
                    <td>@PosicionModelo.Nombre_TipoServicio</td>
                    <td>@PosicionModelo.Descripcion_TipoServicio</td>
                    
                    <td>
                        <a href="~/TipoServicios/ModificaTipoS?id_TipoS=@PosicionModelo.ID_TipoServicio" class="btn btn-warning">Modificar</a>
                        <a href="~/TipoServicios/MostrarTipoS?id_TipoS=@PosicionModelo.ID_TipoServicio" class="btn btn-success">Ver Datos</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a href="~/TipoServicios/NuevoTipoS" class="btn btn-success">Nuevo Dato</a>