@model PracticaIIICO.ViewModels.ViewTiposervicioModel
@{
    ViewBag.Title = "ListTypeServices";
}

<h2>Lista Tipos De Servicios</h2>

<!---->
<table id="myTable" class="table table-hover table-bordered table-success table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Servicio</th>
            <th scope="col">Descripcion</th>

            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (PracticaIIICO.BD.sp_Retorna_Tipo_Servicio_Result PosicionModelo in Model.ListaTipoServicio)
            {
                <tr>
                    <td>@PosicionModelo.ID_TipoServicio</td>
                    <td>@PosicionModelo.Nombre_TipoServicio</td>
                    <td>@PosicionModelo.Descripcion_TipoServicio</td>

                    <td>
                        <a href="~/TipoServicios/ModificaTipoS?id_TipoS=@PosicionModelo.ID_TipoServicio" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                        <a href="~/TipoServicios/MostrarTipoS?id_TipoS=@PosicionModelo.ID_TipoServicio" class="btn btn-success"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<!--Paginador-->
@{ Html.RenderPartial("_paginador", Model);}
<!---->
<a href="~/TipoServicios/NuevoTipoS" class="btn btn-success">Nuevo Dato</a>