
@{
    ViewBag.Title = "MostrarTipoS";
}

<h2>MostrarInformacion Tipo Servicio</h2>


<form id="frmModificaTipoSER" method="post">

    <div class="form-group">

        <label>ID:</label>
        <input type="number" name="ID_TipoServicio" id="ID_TipoServicio" class="form-control" readonly value="@Model.ID_TipoServicio" />
    </div>

    <div class="form-group">
        <label>Tipo Servicio:</label>
        <input type="text" name="Nombre_TipoServicio" id="Nombre_TipoServicio" class="form-control" readonly value="@Model.Nombre_TipoServicio" />
    </div>
    <div class="form-group">
        <label>Descripcion:</label>
        <input type="text" name="Descripcion_TipoServicio" id="Descripcion_TipoServicio" class="form-control" readonly value="@Model.Descripcion_TipoServicio" />

    </div>
</form>

<a href="~/TipoServicios/ListTypeServices" class="btn btn-primary">Ver Lista</a>