
@{
    ViewBag.Title = "NuevoTipoS";
}

<h2>Nuevo Tipo Servicio</h2>

<form id="frmRegistroTipoSER" method="post">

    <div class="form-group">
        <label>Tipo Servicio:</label>
        <input type="text" name="Nombre_TipoServicio" id="Nombre_TipoServicio" class="form-control" />
    </div>
    <div class="form-group">
        <label>Descripcion:</label>
        <input type="text" name="Descripcion_TipoServicio" id="Descripcion_TipoServicio" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Agregar" id="btnAgregar" class="btn btn-success" />
    </div>
</form>

<a href="~/TipoServicios/ListTypeServices" class="btn btn-primary">Ver Lista</a>