
@{
    ViewBag.Title = "Index";
}
@section css{
    <link href="~/Content/FacturaCss.css" rel="stylesheet" />
}
<h2>Index</h2>

<div>
    Encabezado Factura
</div>

<div class="ticket_body" style="width: 80mm;">
    <div class="area_print">
        <div class="text-center">
            <img style="width:40%" src="~/Images/LogoSinFondo.png">
        </div>
        <div class="text-encabezado">REPUESTOS Y LLANTERA MAKO</div>
        <div class="text-encabezado">MARCO TULIO MARTINEZ MENA</div>
        <div class="text-encabezado">112630999</div>
        <div class="text-encabezado">QUITIRRISI DE MORA,50 OESTE DEL GIMNASIO</div>
        <div class="text-encabezado">TELEFONO: 84173048</div>
        <br>
        <div>--------------------------------------</div>
        <div class="cliente_text">FECHA</div>
        <div class="cliente_text">CLIENTE:</div>
        <div class="cliente_text">CED:</div>
        <div class="cliente_text">TIQUETE ELECTRONICO: B001-35</div>
        <br>
        <table>
            <thead>

                <tr>
                    <th class="text-center">CANT.</th>
                    <th class="text-center">DESC.</th>
                    <th class="text-center">PRECIO</th>
                    <th class="text-center">TOTAL</th>
                </tr>

            </thead>

            <tbody>
                <tr>

                    <td class="text-filas">1.00</td>
                    <td class="text-filas">PRODUCTO1</td>
                    <td class="text-filas">60.00</td>
                    <td class="text-filas">60</td>
                </tr>
                <tr>

                    <td class="text-filas">1.00</td>
                    <td class="text-filas">PRODUCTO1</td>
                    <td class="text-filas">60.00</td>
                    <td class="text-filas">60</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tfoot class="tfootChuz">
                <tr>

                    <td colspan="4" class="text-right2">
                        <b>Sub Total</b>

                    </td>

                    <td class="textMontos">
                        <b>10.00</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right2">
                        <b>Descuento</b>

                    </td>

                    <td class="textMontos">
                        <b>00.00</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right2">
                        <b>IVA</b>

                    </td>

                    <td colspan="4" class="textMontos">
                        <b>600.00</b>
                    </td>
                </tr>
                <tr>

                    <td colspan="4" class="text-right2">
                        <b>Total</b>

                    </td>

                    <td class="textMontos">
                        <b>60.00</b>
                    </td>

                </tr>
            </tfoot>
        </table>
        <b>Su Pago: ₡/9500 Colones</b>
        <br />
        <b>Su Cambio: ₡/0.00</b>
        <br />
        <div>Atendio:Jesus Perez </div>
        <div>--------------------------------------</div>


        <div class="text-center">
            Autorizado mediante Resolución de Intendencia N° 032-005
            Representación impresa de la Boleta Electrónica.
        </div>
        <hr>

        <div style="font-size:12px;">
            <b>HASH: Hb80fKOWgPSw6NcfJUzomi4GF8g=</b>
        </div>
        <hr>
        <div class="text-center">
            <img style="width:40%" src="~/Images/LogoSinFondo.png">
        </div>
        <div class="text-center">
            TODO CAMBIO SE DEBE REALIZAR DENTRO DE LAS 24 HORAS NO HAY DEVOLUCIONES DE DINERO
            <br />
            <p>**PARA EFECTOS DE GARANTIA SE DEBE PRESENTAR LA FACTURA FISICA Y ORIGINAL**</p>

            <br />
            GRACIAS POR SU COMPRA

        </div>
    </div>
</div>