
@{
    ViewBag.Title = "NuevaCotizacion";
}


<div class="formRegistrochz">
    <h2>Nueva Cotizacion</h2>

    <form id="frmRegistroCotizacion" class="form-control" method="post">

        <div class="row">

            <div class="col">
                <label>Usuario:</label>
                <select name="ID_Usuario" id="ID_Usuario" class="form-control">
                    @{

                        foreach (PracticaIIICO.BD.sp_Retorna_UsuarioID_Result ModeloUSER in this.ViewBag.ListaUsuariosID)
                        {
                            <option value="@ModeloUSER.ID_Usuario">@ModeloUSER.Nombre_U @ModeloUSER.Apellido1_U </option>
                        }

                    }
                </select>
            </div>

            <div class="col">
                <label>Numero:</label>
                <input name="Numero_Cotizacion" id="Numero_Cotizacion" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Nombre Cliente:</label>
            <input type="text" name="Nombre_Cliente" id="Nombre_Cliente" class="form-control" />
        </div>

        <div class="row">
            <div class="col">
                <label>Telefono:</label>
                <input type="text" name="Telefono_Cliente" id="Telefono_Cliente" class="form-control" />
            </div>

            <div class="col">
                <label>Correo:</label>
                <input type="email" name="Correo_Cliente" id="Correo_Cliente" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Fecha:</label>
                <input type="text" name="Fecha_Cotizacion" id="Fecha_Cotizacion" class="form-control" value="@DateTime.Today.ToShortDateString()" readonly />
            </div>
            <div class="col">
                <label>Hora:</label>
                <input type="time" name="Hora_Cotizacion" id="Hora_Cotizacion" class="form-control" />
            </div>
            <div class="col">
                <label>Costo Final:</label>
                <input type="number" name="Costo" id="Costo" class="form-control" value="0" readonly />
            </div>
        </div>

        <br />
        <div class="form-group">
            <input type="submit" value="Agregar" id="btnAgregar" class="btn btn-success" />
            <a href="~/Cotizacion/ListaCotizacion" class="btn btn-primary">Ver Lista</a>
        </div>
    </form>
    <br />

</div>

