
@{
    ViewBag.Title = "Configuracion";
}

<h2>Configuracion De Pagina</h2>
<hr />
<h2>Sidebar </h2>
<a class="btn btn-secondary" id="btnCreditCart">SideBar Fijo</a>
<a class="btn btn-secondary" id="btnDesbloqueo">SideBar Felxible</a>
<hr />