
@{
    ViewBag.Title = "Configuracion";
}

<h2>Configuracion De Pagina</h2>
<hr />
<h2>Sidebar </h2>
<a class="btn btn-secondary" id="btnCreditCart">SideBar Fijo</a>
<a class="btn btn-secondary" id="btnDesbloqueo">SideBar Felxible</a>
<hr />

<div class="container" style="border:double;">
    <div class="row">
        <div style="margin-left:10%;" class="col">
            <br />

            <a class="btn btn-primary"><i class="fa fa-database"> Crear Respldo</i></a>

            <br />
            <br />
        </div>
        <div style="margin-left:10%;" class="col">
            <br />

            <a class="btn btn-success"><i class="fa fa-database"> Restaurar Respaldo</i></a>

            <br />
            <br />
        </div>
    </div>
</div>