@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pagina Inicio <i class="fa fa-home"></i></h1>
    <h3 style="color:green">Bienvenido Al Sistema  @Session["NombreUsuario"] @Session["ApellidosUsuario"] <i class="fa fa-user" aria-hidden="true"></i></h3>

    <hr />
    <h3 style="text-align:center"><i class="fas fa-tools"></i> Mantenimientos Del Sistema <i class="fas fa-tools"></i></h3>
    <br />
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Productos Y Servicios</h4>
        <p>
           Administre Tus productos 
        </p>
        <a href="~/Productos/ListaProductos" class="btn btn-primary">Productos</a>
        <a href="~/Servicios/ListaServicios" class="btn btn-primary">Servicios</a>
    </div>
    <div class="col-md-4">
        <h4>Usuarios</h4>
        <p>Admnistre Los Usuarios</p>
        <a href="~/Usuarios/ListaUsuarios" class="btn btn-primary">Usuarios</a>
    </div>
    <div class="col-md-4">
        <h4>Entradas y Salidas</h4>
        <p>Admnistre Su Inventario</p>
        <a href="#" class="btn btn-primary">Acceder</a>
        <a href="~/Entradas/ListaEntradas" class="btn btn-primary">Entradas</a>
        <a href="~/Salidas/ListaSalidas" class="btn btn-primary">Salidas</a>
    </div>
</div>

@section scripts{ 
    <script src="~/Scripts/Sesion/HoraActual.js"></script>
}