
@{
    ViewBag.Title = "MapsLocation";
}

<div class="formRegistrochz">
    <h2>Mapa Localizacion</h2>

    <div class="mapaTulio" style="margin: auto; max-width: 600px; max-height: 450px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d799.7191850739752!2d-84.236657!3d9.868838!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdc657da73af2ae5e!2sLlantera%20Mako!5e1!3m2!1ses!2sus!4v1643167675326!5m2!1ses!2sus" style="border:0; width:100%;height:400px;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
