
@{
    ViewBag.Title = "NuevoUsuario";
}

<h2>Nuevo Usuario</h2>

<form id="frmRegistroTipoU" method="post">

    <div class="form-group">
        <label>Tipo Usuario:</label>
        <select name="ID_TipoUsuario" id="ID_TipoUsuario" class="form-control">
            @{

                foreach (PracticaIIICO.BD.sp_Retorna_TipoUsuario_Result ModeloTipoU in this.ViewBag.ListaTipoUsuarios)
                {
                    <option value="@ModeloTipoU.ID_TipoUsuario">@ModeloTipoU.Nombre_TipoUsuario </option>
                }

            }
        </select>
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="Nombre_U" id="Nombre_U" class="form-control" />
    </div>
    <div class="form-group">
        <label>1 Apellido</label>
        <input type="text" name="Apellido1_U" id="Apellido1_U" class="form-control" />
    </div>
    <div class="form-group">
        <label>2 Apellido</label>
        <input type="text" name="Apellido2_U" id="Apellido2_U" class="form-control" />
    </div>
    <div class="form-group">
        <label>Direccion</label>
        <input type="text" name="Direccion_U" id="Direccion_U" class="form-control" />
    </div>
    <div class="form-group">
        <label>Correo</label>
        <input type="email" name="Correo_U" id="Correo_U" class="form-control" />
    </div>
    <div class="form-group">
        <label>Telefono</label>
        <input type="text" name="Telefono_U" id="Telefono_U" class="form-control" />
    </div>


    <br />
    <div class="form-group">
        <input type="submit" value="Agregar" id="btnAgregar" class="btn btn-success" />
    </div>
</form>
<br />
<a href="~/Usuarios/ListaUsuarios" class="btn btn-primary">Ver Lista</a>