
@{
    ViewBag.Title = "ListTypeUser";
}

<h2>Tipos De Usuario</h2>

<!---->
<table id="myTable" class="table table-hover table-bordered table-success table-striped">
    <thead>
        <tr>
            <th scope="col"># ID</th>
            <th scope="col">Tipo Usuario</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (PracticaIIICO.BD.sp_Retorna_TipoUsuario_Result PosicionModelo in this.Model)
            {
                <tr>

                    <td>@PosicionModelo.ID_TipoUsuario</td>
                    <td>@PosicionModelo.Nombre_TipoUsuario</td>
                    <td>
                        <a href="~/TipoUsuarios/ModificaTipoUsuario?id_TipoU=@PosicionModelo.ID_TipoUsuario" class="btn btn-warning">Modificar</a>
                        <a href="~/TipoUsuarios/MostrarTipoUsuario?id_TipoU=@PosicionModelo.ID_TipoUsuario" class="btn btn-success">Ver Datos</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a href="~/TipoUsuarios/NuevoTipoUsuario" class="btn btn-success">Nuevo Dato</a>