@model PracticaIIICO.BD.sp_Retorna_TipoUsuario_ID_Result
@{
    ViewBag.Title = "ModificaTipoUsuario";
}

<div class="formRegistrochz">

    <h2>Modifica Tipo Usuario</h2>

    <form id="frmModificaTipoU" class="form-control" method="post">
        <div class="form-group">
            <label>ID:</label>
            <input type="number" name="ID_TipoUsuario" id="ID_TipoUsuario" class="form-control" readonly value="@Model.ID_TipoUsuario" />
        </div>

        <div class="form-group">
            <label>Tipo Usuario:</label>
            <input type="text" name="Nombre_TipoUsuario" id="Nombre_TipoUsuario" class="form-control" value="@Model.Nombre_TipoUsuario" />
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Agregar" id="btnAgregar" class="btn btn-success" />
            <a href="~/TipoUsuarios/ListTypeUser" class="btn btn-primary">Ver Lista</a>
        </div>
    </form>
    <br />
    
</div>




