
@{
    ViewBag.Title = "AgregaDetSal";
}


<div class="formRegistrochz">

    <h2>Agregar Detalle</h2>
    <h2>Salida</h2>

    

    <form id="frmRegistroDetalleSal" class="form-control" method="post">
        <h3>Orden Salida # @Model.ID_Salida</h3>

        <div class="row">
            <div class="col">
                <label># ID:</label>
                <input type="text" name="ID_Salida" id="ID_Salida" value="@Model.ID_Salida" class="form-control" readonly />
            </div>
            <div class="col">
                <label>Producto:</label>
                <select name="ID_Producto" id="ID_Producto" class="form-control">
                    @{

                        foreach (PracticaIIICO.BD.sp_Retorna_Productos_Result ModeloPROD in this.ViewBag.ListaProductos)
                        {
                            <option value="@ModeloPROD.ID_Producto">@ModeloPROD.Nombre_PROD </option>
                        }

                    }
                </select>
            </div>

            <div class="col">
                <label>Cantidad:</label>
                <input type="number" name="Cant_Salida_PROD" id="Cant_Salida_PROD" class="form-control" value="0" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Agregar" id="btnAgregar" class="btn btn-success" /> 
            <a href="~/Salidas/ListaSalidas" class="btn btn-primary">Ver Lista</a>
        </div>
    </form>
    <br />
   
</div>

