
@{
    ViewBag.Title = "AgregaDetSal";
}

<h2>Agregar Detalle Salida</h2>

<h3>Factura # @Model.ID_Salida</h3>

<form id="frmRegistroDetalleSal" method="post">

    <div class="form-group">
        <label># Factura:</label>
        <input type="text" name="ID_Salida" id="ID_Salida" value="@Model.ID_Salida" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Producto:</label>
        <select name="ID_Producto" id="ID_Producto" class="form-control">
            @{

                foreach (PracticaIIICO.BD.sp_Retorna_Productos_Result ModeloPROD in this.ViewBag.ListaProductos)
                {
                    <option value="@ModeloPROD.ID_Producto">@ModeloPROD.Nombre_PROD </option>
                }

            }
        </select>
    </div>

    <div class="form-group">
        <label>Cantidad:</label>
        <input type="number" name="Cant_Salida_PROD" id="Cant_Salida_PROD" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Agregar" id="btnAgregar" class="btn btn-success" />
    </div>
</form>
<br />
<a href="~/Salidas/ListaSalidas" class="btn btn-primary">Ver Lista</a>
